
table {
  border-collapse: separate;
  border-spacing: 0;
}

th
{
  padding: 8px 2vw;
  background-color: #ccc;
}

td
{
  padding: 4px;
}

.output-qm #essentialtable td, .output-km #kmap td
{
  text-align: center;
}

input, .input {
  display: inline-block;
  font-size: 30px;
}
.output {
  font-size: 20px;
  padding: 4vh 4vw;
  border-style: solid;
  border-width: 1px;
}
.output-qm {
  padding: 4vh 4vw;
  border-style: solid;
  border-width: 1px;
}
.output-km {
  padding: 4vh 4vw;
  border-style: solid;
  border-width: 1px;
}
