.kmap-table {
  border-collapse: collapse;
}

.kmap-table tr {
}

.kmap-table th {
  border: 1px solid black;
  padding: 5px;
}

.kmap-table td {
  border: 1px solid black;
  text-align: center;
}

.kmap-key {
  margin-left: 5px;
  text-align: left;
}

.kmap-container {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
}
